<!DOCTYPE html>

<html>

<head>
    <link rel="icon" href="/img/weather.png">
    <Title>404</Title>
    <link rel="stylesheet" href="/styles/style.css">
    <!-- check the root of js file -->
    <script src="/js/app.js"></script>
</head>

<body>
    <div class="index">{{>header}}
    <p>{{ERROR_404}}</p>
    </div>
    
    
    {{>footer}}
</body>

</html>