<!DOCTYPE html>

<html>

<head>        <link rel="icon" href="/img/weather.png">

    <title>About</title>

    <link rel="stylesheet" href="styles/style.css">
</head>

<body>
    <div class="index">{{>header}}
    <p>You are best</p>
    {{>footer}}</div>
    
</body>

</html>