<!DOCTYPE html>

<html>

<head>        <link rel="icon" href="/img/weather.png">

    <title>Help</title>

    <link rel="stylesheet" href="styles/style.css">
</head>

<body>
    <div class="index">
        {{>header}}
    <p>{{helpText}}</p>
    {{>footer}}
    </div>
    
</body>

</html>